server/.venv/
server/.idea/

**/node_modules/

**.env

**.env.dev

**__pycache__

expense-contro-backend/poetry.lock

expense-control-frontend/node_modules/

git-credential-manager/

install-from-source.sh